

header{
    width: 100%;
    height: 175px;
    background-color: #7800F0;
    position: absolute;
	top: 0px;
	left: 0px;
}




nav a{
    text-decoration: none;
    font-family: times new roman, times, serif;
    letter-spacing: 0.5px;
    font-size: 20px;
    color: aliceblue;
	position: absolute;
	
	
}
nav a:hover{
    background-color: #7800F0;
	
	position: absolute;
    color: black;
}

.navigering1 a {
display: none;
}

.navigering2 a {
	left: 70px;
	top: 60px;
}

.navigering3 a {
	left: 200px;
	top: 60px;
}

.navigering4 a {
	left: 65px;
	top: 100px;
}

.navigering5 a {
	left: 210px;
	top: 100px;
}

.navigering6 a {
	left: 70px;
	top: 140px;
}

.navigering7 a {
	left: 220px;
	top:140px;
}









.logotittel0 {
	font-family: times new roman, times, serif ;
	font-size: 28px;
	color: white;
	white;
	position: absolute;
	top: -22px; 
	left: 46px;
}


.logotittel1 {
	font-family: times new roman, times, serif;
	font-size: 28px;
	color: white;
	position: absolute;
	top: -22px; 
	left: 110px;
}


.logotittel2 {
	font-family: times new roman, times, serif; 
	font-size: 28px; 
	color: white; 
	position: absolute;
	top: -20px;
	left: 266px;
}



.hjemoverskrift1 {
	font-familiy: times new roman, times, serif; 
	font-size: 28px; 
	position: absolute; 
	top: 270px; 
	left: 50px;
}

.hjemoverskrift2 {
	font-familiy: times new roman, times, serif; 
	font-size: 28px; 
	position: absolute; 
	top: 300px; 
	left: 70px;
}



.hjeminnhold1mobil {
	position: absolute;
	left: 17px;
	top: 370px; 
	font-family: times new roman, times, serif; 
	font-size: 17px;
}

.hjeminnhold2mobil {
	position: absolute;
	left: 8px;
	top: 390px; 
	font-family: times new roman, times, serif; 
	font-size: 17px;
}

.hjeminnhold3mobil {
	position: absolute;
	left: 81px;
	top: 410px; 
	font-family: times new roman, times, serif; 
	font-size: 17px;
}


.hjeminnhold4mobil {
position: absolute; 
left: 15px; 
top: 450px; 
font-family: times new roman, times, serif; 
font-size: 17px
}

.hjeminnhold5mobil {
position: absolute; 
left: 15px; 
top: 470px; 
font-family: times new roman, times, serif; 
font-size: 17px
}

.hjeminnhold6mobil {
position: absolute; 
left: 38px; 
top: 490px; 
font-family: times new roman, times, serif; 
font-size: 17px
}

.hjeminnhold7mobil {
position: absolute; 
left: 15px; 
top: 530px; 
font-family: times new roman, times, serif; 
font-size: 17px
}

.hjeminnhold8mobil {
position: absolute; 
left: 40px; 
top: 550px; 
font-family: times new roman, times, serif; 
font-size: 17px
}

.hjeminnhold9mobil {
position: absolute; 
left: 110px; 
top: 600px; 
font-family: times new roman, times, serif; 
font-size: 17px
}


.hjeminnhold1 {
	display: none;
}

.hjeminnhold2 {
	display: none;
}

.hjeminnhold3 {
	display: none;
}



.hjeminnhold4 {
	display: none;
}






.videohjem {
	
	display: none;
}




@media only screen and (min-width: 768px) {
	
	
	
header{
    width: 100%;
    height: 107px;
    background-color: #7800F0;
    position: absolute;
	top: 0px;
	left: 0px;
}

nav a{
    text-decoration: none;
    font-family: times new roman, times, serif;
    letter-spacing: 0.5px;
    font-size: 25px;
    color: aliceblue;
	position: absolute;
	
	
}
nav a:hover{
    background-color: #7800F0;
	
	position: absolute;
    color: black;
}

.navigering1 a {
left: 230px;
top: 43px;
display: block;
}

.navigering2 a {
	left: 320px;
	top: 43px;
}

.navigering3 a {
	left: 450px;
	top: 43px;
}

.navigering4 a {
	left: 615px;
	top: 43px;
}

.navigering5 a {
	left: 760px;
	top: 43px;
}

.navigering6 a {
	left: 900px;
	top: 43px;
}

.navigering7 a {
	left: 1025px;
	top:43px;
}


.logotittel0 {
	font-family: brush script MT;
	font-size: 45px;
	color: white;
	white;
	position: absolute;
	top: -47px; 
	left: 60px;
}


.logotittel1 {
	font-family: brush script MT;
	font-size: 40px;
	color: white;
	position: absolute;
	top: -11px; 
	left: 30px;
}


.logotittel2 {
	font-family: brush script MT; 
	font-size: 40px; 
	color: white; 
	position: absolute;
	top: 18px;
	left: 58px;
}

	
	
.hjemoverskrift1 {
	font-familiy: times new roman, times, serif; 
	font-size: 30px; 
	position: absolute; 
	top: 149px; 
	left: 60px;
}

.hjemoverskrift2 {
	font-familiy: times new roman, times, serif; 
	font-size: 30px; 
	position: absolute; 
	top: 149px; 
	left: 370px;
}
	
.hjeminnhold1 {
	position: absolute;
	left: 90px;
	top: 400px; 
	font-family: times new roman, times, serif; 
	font-size: 19px;
}

.hjeminnhold11 {
	position: absolute;
	left: 158px;
	top: 250px; 
	font-family: times new roman, times, serif; 
	font-size: 19px;
	display: block;
}





.hjeminnhold2 {
position: absolute; 
left: 90px; 
top: 290px; 
font-family: times new roman, times, serif; 
font-size: 19px;
}

.hjeminnhold22 {
position: absolute; 
left: 130px; 
top: 310px; 
font-family: times new roman, times, serif; 
font-size: 19px;
}



.hjeminnhold3 {
	position: absolute; 
	left: 100px; 
	top: 350px; 
	font-family: times new roman, times, serif; 
	font-size: 19px;
}


.hjeminnhold33 {
	position: absolute; 
	left: 180px; 
	top: 370px; 
	font-family: times new roman, times, serif; 
	font-size: 19px;
}



.hjeminnhold4 {
	position: absolute;
	left:220px; 
	top: 446px; 
	color: black; 
	font-size: 19px;
}

	
	.videohjem {
	position: absolute;
	left: 700px;
	top: 177px;
	display: block;
	}
}
