@media only screen and (max-width: 768px) {


header{
    width: 100%;
    height: 150px;
    background-color: #7800F0;
    position: absolute;
	top: 0px;
	left: 0px;
}




nav a{
    text-decoration: none;
    font-family: times new roman, times, serif;
    letter-spacing: 0.5px;
    font-size: 20px;
    color: aliceblue;
	position: absolute;
	
	
}
nav a:hover{
    background-color: #7800F0;
	
	position: absolute;
    color: black;
}

.navigering1 a {
display: none;
}

.navigering2 a {
	left: 28px;
	top: 60px;
}

.navigering3 a {
	left: 123px;
	top: 60px;
}

.navigering4 a {
	left: 45px;
	top: 110px;
}

.navigering5 a {
	left: 248px;
	top: 60px;
}

.navigering6 a {
	left: 150px;
	top: 110px;
}

.navigering7 a {
	left: 240px;
	top:110px;
}

.logotittel0 {
	font-family: times new roman, times, serif ;
	font-size: 28px;
	color: white;
	white;
	position: absolute;
	top: -22px; 
	left: 35px;
}


.logotittel1 {
	font-family: times new roman, times, serif;
	font-size: 28px;
	color: white;
	position: absolute;
	top: -22px; 
	left: 108px;
}


.logotittel2 {
	font-family: times new roman, times, serif; 
	font-size: 28px; 
	color: white; 
	position: absolute;
	top: -20px;
	left: 255px;
}



.hjemoverskrift1 {
	font-familiy: times new roman, times, serif; 
	font-size: 28px; 
	position: absolute; 
	top: 170px; 
	left: 60px;
}

.hjemoverskrift2 {
	font-familiy: times new roman, times, serif; 
	font-size: 28px; 
	position: absolute; 
	top: 200px; 
	left: 42px;
}



.hjeminnhold1 {
	position: absolute;
	left: 32px;
	top: 270px; 
	font-family: times new roman, times, serif; 
	font-size: 14px;
}

.hjeminnhold2mobil {
	position: absolute;
	left: 45px;
	top: 290px; 
	font-family: times new roman, times, serif; 
	font-size: 14px;
}

.hjeminnhold3mobil {
	position: absolute;
	left: 85px;
	top: 310px; 
	font-family: times new roman, times, serif; 
	font-size: 14px;
}



.hjeminnhold4mobil{
position: absolute; 
left: 40px; 
top: 350px; 
font-family: times new roman, times, serif; 
font-size: 14px
}

.hjeminnhold5mobil {
position: absolute; 
left: 45px; 
top: 370px; 
font-family: times new roman, times, serif; 
font-size: 14px
}

.hjeminnhold6mobil {
position: absolute; 
left: 87px; 
top: 390px; 
font-family: times new roman, times, serif; 
font-size: 14px
}

.hjeminnhold7mobil {
position: absolute; 
left: 75px; 
top: 430px; 
font-family: times new roman, times, serif; 
font-size: 14px
}

.hjeminnhold7 {
	display: none;
}

.hjeminnhold8mobil {
position: absolute; 
left: 78px; 
top: 450px; 
font-family: times new roman, times, serif; 
font-size: 14px
}

.hjeminnhold8mobilextended {
	position: absolute; 
left: 106px; 
top: 470px; 
font-family: times new roman, times, serif; 
font-size: 14px
}
.hjeminnhold8 {
	display: none;
}
.hjeminnhold9 {
position: absolute; 
left: 105px; 
top: 500px; 
font-family: times new roman, times, serif; 
font-size: 15px
}

.hjeminnhold6 {
	display: none;
}

.hjeminnhold5 {
	display: none;
}
.videohjem {
	
	display: none;
}












.logginntekst {
	font-familiy: times new roman, times, serif;
	font-size: 30px; 
	position: absolute;
	bottom: 575px;
	left: 109px;
}

.brukernavntekst {
	font-familiy: times new roman, times, serif;
	font-size: 20px; 
	position: absolute;
	bottom: 540px;
	left: 109px;
}

.passordtekst {
	font-familiy: times new roman, times, serif; 
	font-size: 20px; 
	position: absolute; 
	bottom: 460px;
	left: 109px;
}
	

.brukernavninputmobil {
	font-familiy: times new roman, times, serif;
	font-size: 20px;
	position: absolute;
	bottom: 527px;
	left: 109px;
	
}

.passordinputmobil {
	position: absolute; 
	left: 109px;
	top: 372px
}
	
.logginnknapp {
	
position: absolute;
 top: 420px; 
 left: 144px; 
 font-size:17px; 
 background color: grey; 
 width: 75px
}
	
.brukernavnellerpassordlenke {
position: absolute;
 left: 74px;
 top: 470px;
 color: black;
}

.registrerdeglenke {
position: absolute; 
left: 135px;
 top: 500px; 
 color: black; 
}

.brukernavninputdesktop {
	display: none;
}

.passordinputdesktop {
	display: none;
}






























}

@media only screen and (min-width: 768px) {
	
	
	
header{
    width: 100%;
    height: 107px;
    background-color: #7800F0;
    position: absolute;
	top: 0px;
	left: 0px;
}

nav a{
    text-decoration: none;
    font-family: times new roman, times, serif;
    letter-spacing: 0.5px;
    font-size: 25px;
    color: aliceblue;
	position: absolute;
	
	
}
nav a:hover{
    background-color: #7800F0;
	
	position: absolute;
    color: black;
}

.navigering1 a {
left: 230px;
top: 43px;
display: block;
}

.navigering2 a {
	left: 320px;
	top: 43px;
}

.navigering3 a {
	left: 450px;
	top: 43px;
}

.navigering4 a {
	left: 615px;
	top: 43px;
}

.navigering5 a {
	left: 760px;
	top: 43px;
}

.navigering6 a {
	left: 900px;
	top: 43px;
}

.navigering7 a {
	left: 1025px;
	top:43px;
}


.logotittel0 {
	font-family: brush script MT;
	font-size: 45px;
	color: white;
	white;
	position: absolute;
	top: -47px; 
	left: 60px;
}


.logotittel1 {
	font-family: brush script MT;
	font-size: 40px;
	color: white;
	position: absolute;
	top: -11px; 
	left: 30px;
}


.logotittel2 {
	font-family: brush script MT; 
	font-size: 40px; 
	color: white; 
	position: absolute;
	top: 18px;
	left: 58px;
}

	
	
.hjemoverskrift1 {
	font-familiy: times new roman, times, serif; 
	font-size: 30px; 
	position: absolute; 
	top: 149px; 
	left: 60px;
}

.hjemoverskrift2 {
	font-familiy: times new roman, times, serif; 
	font-size: 30px; 
	position: absolute; 
	top: 149px; 
	left: 330px;
}
	
.hjeminnhold1 {
	position: absolute;
	left: 140px;
	top: 220px; 
	font-family: times new roman, times, serif; 
	font-size: 19px;
}


.hjeminnhold2 {
position: absolute; 
left: 130px; 
top: 244px; 
font-family: times new roman, times, serif; 
font-size: 19px;
}

.hjeminnhold3 {
	position: absolute; 
	left: 210px; 
	top: 268px; 
	font-size: 19px;
}


.hjeminnhold4 {
	position: absolute;
	left:140px; 
	top: 304px; 
	color: black; 
	font-size: 19px;
}

.hjeminnhold5 {
	position: absolute;
	left:145px; 
	top: 328px; 
	color: black; 
	font-size: 19px;
}

.hjeminnhold6 {
	position: absolute;
	left:175px; 
	top: 351px; 
	color: black; 
	font-size: 19px;
}

.hjeminnhold7 {
	position: absolute;
	left:140px; 
	top: 390px; 
	color: black; 
	font-size: 19px;
}

.hjeminnhold8 {
	position: absolute;
	left:175px; 
	top: 415px; 
	color: black; 
	font-size: 19px;
}

.hjeminnhold9 {
	position: absolute;
	left:225px; 
	top: 450px; 
	color: black; 
	font-size: 19px;
}

	.videohjem {
	position: absolute;
	left: 700px;
	top: 177px;
	display: block;
	}
	
	
	
	.hjeminnhold2mobil {
		display: none;
	}
	
	.hjeminnhold3mobil {
		display: none;
	}
	
	.hjeminnhold4mobil {
		display: none;
	}
	
	.hjeminnhold5mobil  {
		display: none;
	}
	
	.hjeminnhold6mobil  {
		display: none;
	}
	
	.hjeminnhold7mobil  {
		display: none;
	}
	   
	
	
	.hjeminnhold8mobilextended  {
		display: none;
	}
	














.logginntekst {
	font-familiy: times new roman, times, serif;
	font-size: 30px; 
	position: absolute;
	bottom: 324px;
	left: 550px;
}

.brukernavntekst {
	font-familiy: times new roman, times, serif;
	font-size: 20px; 
	position: absolute;
	bottom: 290px;
	left: 517px;
}

.passordtekst {
	font-familiy: times new roman, times, serif; 
	font-size: 20px; 
	position: absolute; 
	bottom: 220px;
	left: 517px;
}
	

.brukernavninputdesktop {
	font-familiy: times new roman, times, serif;
	font-size: 20px;
	position: absolute;
	bottom: 278px;
	left: 517px;
	
}

.passordinputdesktop {
	position: absolute; 
	left: 517px;
	top: 330px
}
	
.logginnknapp {
	
position: absolute;
 top: 375px; 
 left: 580px; 
 font-size:17px; 
 background color: grey; 
 width: 75px
}
	
.brukernavnellerpassordlenke {
position: absolute;
 left: 515px;
 top: 420px;
 color: black;
}

.registrerdeglenke {
position: absolute; 
left: 575px;
 top: 450px; 
 color: black; 
}
}
